<!DOCTYPE html>
<html>

<head>
<title>Web Assessment Portal</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../public/css/styleBS.css" rel="stylesheet">
<link href="../../public/css/bootstrap-formhelpers.min.css" rel="stylesheet">
<link href="../../public/css/bootstrap-select.min.css" rel="stylesheet">
<link href="../../public/css/bootstrap-tags.css" rel="stylesheet">
<link href="../../public/css/forms.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="studenthomeController">



<head-component></head-component>


 <div class="page-content">

 <div class="row">

  <div class="col-md-2"><!--grid 2 for bootstrap -->
        <div class="sidebar content-box" style="display: block;">
           <ul class="nav">
                    <!-- Main menu -->
           <li><a href="" ng-click="studentHome()"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
           <br>
           <li><a href="" ng-click="attemptAssessmentQuestion()"><i class="glyphicon glyphicon-pencil"></i> Attempt Assessment Questions</a></li>
           <br>
           <li class="current"><a href="" ng-click="attemptLabs()"><i class="glyphicon glyphicon-book"></i> Labs</a></li>
           <br>
           <li><a href="" ng-click="viewAttempts()"><i class="glyphicon glyphicon-time"></i> View Past Attempts</a></li>
           <br>
          
                
                </ul>
             </div>
      </div>

    <div class="col-md-8"><!--Main content -->
      <div class="row">
      <!-- to display content here -->

  <div class="content-box-large">
  <div class="container">
      
    <div class="panel-heading">
       <div class="panel-title"><h3><b>Labs<b></b></h3></div>
                    

       </div>
  
         



       </div>




        <div class="content-box-large" data-ng-init="getLabs()">

        <div class="panel-heading">
          <div class="panel-title"><b>Labs</b></div>

            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="example">
            <thead>
              <tr>
                <th>Lab No.</th>
                <th>Lab Name</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="lab in labs">
                      <td>{{lab.LabNo}}</td>
                      <td>{{lab.LabName}}</td>
                      <td>
            <a href="..\Labs/LabFiles/{{lab.LabFile}}.pdf"><button class="btn btn-lg btn-primary">{{lab.LabFile}}</button></a>
             </td>
                  </tr>
  
            </tbody>
          </table>
        </div>

        </div>

  <form name="labSubmission" id="labSubmission" action="/labSubmission" method="post">
    <button class="btn btn-lg btn-primary" type="submit">Go to Submission Page </button></form>

     </div>

      </div>
    </div>
    
      </div>
      </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Forms Scripts -->
<script src="../../public/javascript/bootstrap-formhelpers.min.js"></script>
<script src="../../public/javascript/bootstrap-select.min.js"></script>
<script src="../../public/javascript/bootstrap-tags.min.js"></script>
<script src="../../public/javascript/jquery.maskedinput.min.js"></script>
<script src="../../public/javascript/moment.min.js"></script>
<script src="../../public/javascript/jquery.bootstrap.wizard.min.js"></script>

<!-- AngularJS Scripts -->
<script src="../../public/javascript/myApp.js"></script>
<script src="../../controllers/studenthomeController.js"></script>

<!--data table scripts -->
<link href="../../public/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
<script src="../../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../../public/javascript/jquery.dataTables.min.js"></script>
<script src="../../public/javascript/dataTables.bootstrap.js"></script>
<script src="../../public/javascript/tables.js"></script>

<!-- file upload scripts-->
<script src="../../public/javascript/ng-file-upload-shim.min.js"></script> 
<script src="../../public/javascript/ng-file-upload.min.js"></script>


<!-- common scripts -->
<script src="../../public/javascript/custom.js"></script>






</body>




</html>