  
<!--Mainly use to edit code here -->

  <div class="col-md-2"><!--grid 2 for bootstrap -->
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href=""><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
					<br>
                    <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                   <br>
                    <li><a href="forms.html"><i class="glyphicon glyphicon-stats"></i> View Students Result</a></li>
				   <br>
					 <li class="submenu">
                         <a href="">
                            <i class="glyphicon glyphicon-list"></i> Manage Assessment Questions
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="forms4.html">Add Assessment Questions</a></li>
                            <li><a href="forms5.html">Delete Assessment Questions</a></li>
                            <li><a href="forms6.html">Modify Assessment Questions</a></li>
							<li><a href="forms7.html">Upload Benchmark Solution </a></li>
                        </ul>
                    </li>
			             <br>

                    <li class="submenu">
                         <a href="">
                            <i class="glyphicon glyphicon-list"></i> Manage Student Records
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="forms1.html">Add Students Record</a></li>
                            <li><a href="forms2.html">Delete Students Record</a></li>
                            <li><a href="forms3.html">Modify Students Record</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>